[submodule "votify_backend"]
    path = votify_backend
    url = https://github.com/yourusername/voting-app-backend.git
[submodule "votify_frontend"]
    path = votify_frontend
    url = https://github.com/yourusername/voting-app-frontend.git
